phdthesis.aux
phdthesis.bbl
phdthesis.bcf
declaration.aux
certificate.aux
phdthesis.blg
phdthesis.lof
phdthesis.log
phdthesis.lot
phdthesis.out
phdthesis.run.xml
phdthesis.synctex.gz
phdthesis.toc
Acknowledgements/*.aux
Appendix/*.aux
Chapter1/chapter1.aux
Chapter2/*.aux
Chapter3/*.aux
Chapter4/chapter4.aux
Conclusions/*.aux
Introduction/*.aux
Methods/*.aux
phdthesis.synctex(busy)